{% import '_utilities/image' as img %}
  <a href="/" class="text-red-500 blockf">
    {% if global.logo|length %}
      {% set logo = global.logo.eagerly().one() %}
      {{ svg(logo) }}
    {% else %}
      {{ siteName }}
    {% endif %}
  </a>