
.aspect-ratio-wide {
  aspect-ratio: 16 / 9;
}

.aspect-ratio-square {
  aspect-ratio: 1 / 1;
}

.lazyloaded.aspect-ratio-square,
.lazyloaded.aspect-ratio-wide {
  aspect-ratio: auto;
}
.object-fit-cover,
.object-fit-cover img { object-fit: cover !important; height: 100%; }
.object-fit-contain,
.object-fit-contain img { object-fit: contain !important; height: 100%; }
.object-fit-fill,
.object-fit-fill img { object-fit: fill !important; }
.no-repeat { background-repeat: no-repeat; }
.repeat { background-repeat: repeat; }
.repeat-x { background-repeat: repeat-x; }
.repeat-y { background-repeat: repeat-y; }
.repeat-space { background-repeat: space; }
.repeat-round { background-repeat: round; }

.background-fixed { background-attachment: fixed; }
.background-local { background-attachment: local; }