.fixed { position: fixed; -webkit-overflow-scrolling: touch; }
.relative { position: relative; }
.static { position: static; }
.absolute { position: absolute; }

.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }
.table { display:table; }
.table-cell { display: table-cell; } 

.right-0 { right: 0; }
.left-0 { left: 0; }
.top-0 { top: 0; }
.bottom-0 { bottom: 0; }

.vertical-align-baseline { vertical-align: baseline; }
.vertical-align-top { vertical-align: top; }
.vertical-align-middle { vertical-align: middle; }
.vertical-align-bottom { vertical-align: bottom; }
.vertical-align-sub { vertical-align: sub; }
.vertical-align-text-top { vertical-align: text-top; }
/*
.callout,
.callout .content,
.drawer,
.clearfix,
.row {
  zoom:1;
}*/
.field--check label:before,
.field--check label:after,
.callout:before,
.callout:after,
.callout .content:before,
.callout .content:after,
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content:" ";
  display: table;
  width: 0;
}
.field--check label:after,
.callout:after,
.callout .content:after,
.clearfix:after,
.row:after{
  clear:both;
}

.group {
  overflow: hidden;
}
.overflow-x { overflow-x: auto; }
.overflow-y { overflow-y: auto; }
.overflow-scroll { overflow: scroll; }
.overflow-hidden { overflow: hidden; }
.overflow-auto { overflow: auto; }

.sticky,
.sticky_mb {
  position: sticky;
  top: 0;
}
.centered,
.center {
  margin-left: auto;
  margin-right: auto;
}
.left-auto { margin-left: auto; }
.right-auto { margin-right: auto; }
.top-auto { margin-top: auto; }
.bottom-auto { margin-bottom: auto; }

@supports (--css: variables) {
  .right { float: right; }
  .left { float: left; }
  .clear { clear:both; }
  .no-float { float: none !important; }

  @media screen and (min-width: 47.9em) {
    .fixed_sm { position: fixed; -webkit-overflow-scrolling: touch; }
    .relative_sm { position: relative; }
    .static_sm { position: static; }
    .absolute_sm { position: absolute; }

    .right-0_sm { right: 0; }
    .left-0_sm { left: 0; }
    .top-0_sm { top: 0; }
    .bottom-0_sm { bottom: 0; }
    
    .block_sm { display: block; }
    .inline-block_sm { display: inline-block; }
    .inline_sm { display: inline; }
    .sticky_sm {
      position: sticky;
      top: 0;
    }
    .right_sm { float: right; }
    .left_sm { float: left; }
    .hang-left { margin-left: -25%; padding-right: var(--line); }
    .hang-right { margin-right: -25%; padding-left: var(--line); }
  }

  @media screen and (min-width: 64em) {
    .fixed_md { position: fixed; -webkit-overflow-scrolling: touch; }
    .relative_md { position: relative; }
    .static_md { position: static; }
    .absolute_md { position: absolute; }
    .sticky_sm {
      position: sticky;
      top: 0;
    }
  }

  @media screen and (min-width: 98em) {
    .fixed_lg { position: fixed; -webkit-overflow-scrolling: touch; }
    .relative_lg { position: relative; }
    .static_lg { position: static; }
    .absolute_lg { position: absolute; }
    .sticky_lg {
      position: sticky;
      top: 0;
    }
  }
}