{% extends "pages/default" %}

{% block landing %}
  <section class="container mx-auto">
    <form>
      <input type="email" class="form-input px-4 py-3 rounded-full">
    </form>
  </section>
{% endblock %}