{% extends "pages/default" %}

{% block landing %}
  <div class="container mx-auto sm:grid gap-6 grid-cols-2">
    <section class="mb-6 divide-y divide-slate-300">
      {% set updates = craft.entries.section("update").all() %}
      {% for update in updates %}
        <article class="text-lg py-6">
          {{ update.textBlock|md }}
          <p class="text-xs"><time>{{ update.postDate|datetime }}</time></p>
        </article>
      {% endfor %}
    </section>
    
    <section class="bg-slate-200 p-6 mb-9 rounded">
      <h2 class="font-bold text-3xl mb-4">Post an update</h2>
      {% if currentUser %}
        {% include "_partials/updateForm" %}
      {% else %}
        <p>You need to be signed in to post an update</p>
        {% include "_partials/signInForm" %}
      {% endif %}
    </section> 
  </div>
{% endblock %}