:root {
  --text-xs: clamp(
    calc(var(--text-xs-min) * 1px),
    calc(calc(var(--text-xs-min) * 1px) + (var(--text-xs-max) - var(--text-xs-min)) * ((100vw - calc(var(--viewport-min) * 1px)) / (var(--viewport-max) - var(--viewport-min)))),
    calc(var(--text-xs-max) * 1px)
  );
  
  --text-sm: clamp(
    calc(var(--text-sm-min) * 1px),
    calc(calc(var(--text-sm-min) * 1px) + (var(--text-sm-max) - var(--text-sm-min)) * ((100vw - calc(var(--viewport-min) * 1px)) / (var(--viewport-max) - var(--viewport-min)))),
    calc(var(--text-sm-max) * 1px)
  );
  
  --text-base: clamp(
    calc(var(--text-base-min) * 1px),
    calc(calc(var(--text-base-min) * 1px) + (var(--text-base-max) - var(--text-base-min)) * ((100vw - calc(var(--viewport-min) * 1px)) / (var(--viewport-max) - var(--viewport-min)))),
    calc(var(--text-base-max) * 1px)
  );
  
  --text-lg: clamp(
    calc(var(--text-lg-min) * 1px),
    calc(calc(var(--text-lg-min) * 1px) + (var(--text-lg-max) - var(--text-lg-min)) * ((100vw - calc(var(--viewport-min) * 1px)) / (var(--viewport-max) - var(--viewport-min)))),
    calc(var(--text-lg-max) * 1px)
  );
  
  --text-xl: clamp(
    calc(var(--text-xl-min) * 1px),
    calc(calc(var(--text-xl-min) * 1px) + (var(--text-xl-max) - var(--text-xl-min)) * ((100vw - calc(var(--viewport-min) * 1px)) / (var(--viewport-max) - var(--viewport-min)))),
    calc(var(--text-xl-max) * 1px)
  );
  
  --text-2xl: clamp(
    calc(var(--text-2xl-min) * 1px),
    calc(calc(var(--text-2xl-min) * 1px) + (var(--text-2xl-max) - var(--text-2xl-min)) * ((100vw - calc(var(--viewport-min) * 1px)) / (var(--viewport-max) - var(--viewport-min)))),
    calc(var(--text-2xl-max) * 1px)
  );
  
  --text-3xl: clamp(
    calc(var(--text-3xl-min) * 1px),
    calc(calc(var(--text-3xl-min) * 1px) + (var(--text-3xl-max) - var(--text-3xl-min)) * ((100vw - calc(var(--viewport-min) * 1px)) / (var(--viewport-max) - var(--viewport-min)))),
    calc(var(--text-3xl-max) * 1px)
  );
  
  --text-4xl: clamp(
    calc(var(--text-4xl-min) * 1px),
    calc(calc(var(--text-4xl-min) * 1px) + (var(--text-4xl-max) - var(--text-4xl-min)) * ((100vw - calc(var(--viewport-min) * 1px)) / (var(--viewport-max) - var(--viewport-min)))),
    calc(var(--text-4xl-max) * 1px)
  );
  
  --text-5xl: clamp(
    calc(var(--text-5xl-min) * 1px),
    calc(calc(var(--text-5xl-min) * 1px) + (var(--text-5xl-max) - var(--text-5xl-min)) * ((100vw - calc(var(--viewport-min) * 1px)) / (var(--viewport-max) - var(--viewport-min)))),
    calc(var(--text-5xl-max) * 1px)
  );
  
  --text-6xl: clamp(
    calc(var(--text-6xl-min) * 1px),
    calc(calc(var(--text-6xl-min) * 1px) + (var(--text-6xl-max) - var(--text-6xl-min)) * ((100vw - calc(var(--viewport-min) * 1px)) / (var(--viewport-max) - var(--viewport-min)))),
    calc(var(--text-6xl-max) * 1px)
  );
}