.sidenav {
  .a,
  a:link,
  a:visited {
    background-color: var(--background);
    border-bottom: var(--hairline-border);
    border-bottom-color: var(--off-bg);
    color: var(--foreground);
  }
  .a {
    background-color: var(--background);
    color: var(--foreground);
    border-bottom-color: var(--off-bg);
  }
  a.active {
    background-color: var(--accent2);
    border-bottom-color: var(--background);
    color: var(--accent);
    cursor: pointer;
    pointer-events: none;
  }
  a:hover,
  a:active,
  a:focus {
    background-color: var(--off-bg);
  }
  a.offcanvas__subnav:hover:before,
  a.offcanvas__subnav.active:before {
    content: '⌾';
    position: absolute;
    margin-left: -1em;
    color: var(--accent);
  }
}