*, 
*:before, 
*:after {
  box-sizing: border-box;
}

*::-moz-selection { 
  background: var(--accent); 
  color: var(--cream);
  text-shadow: none !important;
}

*::selection { 
  background: var(--accent); 
  color: var(--cream);
  text-shadow: none !important;
}

html,
body,
main {
  position: relative;
}

html {
  font-size: 100%;
  overflow: visible;
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'usual', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
  letter-spacing: var(--letter-spacing-3);
  font-weight: var(--regular);
  hyphens: none;
  overscroll-behavior-y: none;
}

@media (prefers-color-scheme: light) {
  body,
  .background {
    background-color: #F6F4EF;
    color: #231F20;
  }
}

.container {
  max-width: none;
  margin: 0;
  padding: 0;
}

.main {
  height: 100%;
  min-height: 100vh;
}

.footer-logo {
  width: 11rem;
}

