:root {
  /* Text Scale in Pixels */
  --text-xs-min:   11;    --text-xs-max: 12;
  --text-sm-min:   13;    --text-sm-max: 14;
  --text-base-min: 16;    --text-base-max: 18;
  --text-lg-min:   17;    --text-lg-max: 28;
  --text-xl-min:   24;    --text-xl-max: 36;
  --text-2xl-min:  32;    --text-2xl-max: 48;
  --text-3xl-min:  42;    --text-3xl-max: 60;
  --text-4xl-min:  48;    --text-4xl-max: 72;
  --text-5xl-min:  60;    --text-5xl-max: 100;
  --text-6xl-min:  72;    --text-6xl-max: 151;
  
  /* Line Heights */
  --leading-xs: 1.5;
  --leading-sm: 1.5;
  --leading-base: 1.5;
  --leading-lg: 1.5;
  --leading-xl: 1.333;
  --leading-2xl: 1.25;
  --leading-3xl: 1;
  --leading-4xl: 1;
  --leading-5xl: 1;
  --leading-6xl: 1;
}
