{% extends "pages/default" %}

{% block title %}Typography{% endblock %}

{% block content %}
  <div class="container mx-auto px-2 sm:grid gap-6 grid-cols-2">
    <section class="mb-12 prose flow">
      <h1>Typography</h1>
      <p>This is a test of the typography system.</p>
      <h2>Heading 2</h2> 
      <p>This is a test of the typography system.</p>
      <h3>Heading 3</h3>
      <p>This is a test of the typography system.</p>
      <h4>Heading 4</h4>
      <p>This is a test of the typography system.</p>
      <h5>Heading 5</h5>
      <p>This is a test of the typography system.</p>
      <h6>Heading 6</h6>
      <p>This is a test of the typography system.</p>
      <small>Small text</small>
      <hr />
      <p class="text-xs">This is a test of the typography system.</p>
      <p class="text-sm">This is a test of the typography system.</p>
      <p class="text-base">This is a test of the typography system.</p>
      <p class="text-lg">This is a test of the typography system.</p>
      <p class="text-xl">This is a test of the typography system.</p>
      <p class="text-2xl">This is a test of the typography system.</p>
      <p class="text-3xl">This is a test of the typography system.</p>
      <p class="text-4xl">This is a test of the typography system.</p>
      <p class="text-5xl">This is a test of the typography system.</p>
      <p class="text-6xl">This is a test of the typography system.</p>
    </section>
  </div>
{% endblock %}
