summary {
  list-style: none;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-decoration-thickness: 1px;
}
summary::-webkit-details-marker { 
  display: none; 
}
summary:focus {
  outline: 1px dotted var(--foreground);
}
.drawer {
  animation-name: invisiblyGrowFontSize, fade-in;
  animation-duration: 200ms, 200ms;
  animation-delay: 0ms, 200ms;
}
