nav a {
  text-decoration: none;
  position:relative;
  outline:0;
  display:block;
  font-weight: var(--bold);
}
nav a:hover,
nav a:active,
nav a:focus {
  text-decoration: underline;
}
nav .avatar {
  max-width: 1em;
  float: left;
  margin-right: 0.25em;
}
@supports(--css: variables) {
  nav a {
    transition: var(--ease-link);
    color: var(--off-fg);
  }
  nav a:link,
  nav a:visited {
    color: var(--foreground);
    text-decoration-color: var(--background);
  }
  nav a:hover,
  nav a:active,
  nav a:focus {
    color: var(--foreground);
    text-decoration-color: var(--accent);
  }
}